@model DeptPaymentModel
@{
	ViewData["Title"] = "DeptPayment";
	Layout = "_MemberLayout";
}

<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-12">
				<h1 class="m-0">Ödeme İşlemi</h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form method="post" class="w-75 mx-auto mt-2 p-2">
					<div class="card">
						<div class="card-body">
							<div class="card-header">
								<h3 class="card-title"></h3>
								<span>Bakiyeniz : @Model.Balance</span>
								<div class="card-tools">
								</div>
							</div>
							<div class="form-group">
								<label asp-for="CardNumber"></label>
								<input asp-for="CardNumber" class="form-control" />
								<span asp-validation-for="CardNumber" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="FullName"></label>
								<input asp-for="FullName" class="form-control" />
								<span asp-validation-for="FullName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Year"></label>
								<input asp-for="Year" class="form-control" />
								<span asp-validation-for="Year" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Month"></label>
								<input asp-for="Month" class="form-control" />
								<span asp-validation-for="Month" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="SecurityNumber"></label>
								<input asp-for="SecurityNumber" class="form-control" />
								<span asp-validation-for="SecurityNumber" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Amount"></label>
								<input asp-for="Amount" class="form-control" />
								<span asp-validation-for="Amount" class="text-danger"></span>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-primary">Ödeme Yap</button>
							</div>
						</div>
					</div>
				</form>

				<!-- /.card-body -->

			</div>
			<!-- /.card -->
		</div>
		<!-- /.row -->
	</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
