@model AddApartmentExpenseModel
@{
	ViewData["Title"] = "Add";
}

<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-12">
				<h1 class="m-0">Yeni Gider</h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form asp-action="Add" method="post" class="w-75 mx-auto mt-2 p-2">
					<div class="card">
						<div class="card-body">


							<div class="form-group">
								<label asp-for="Bill"></label>
								<input asp-for="Bill" class="form-control" />
								<span asp-validation-for="Bill" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="UserId"></label>
								<select asp-for="UserId" asp-items="ViewBag.Users" class="form-control">
									<option value="-1" disabled selected>Seçiniz..</option>
								</select>
								<span asp-validation-for="Bill" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Month"></label>
								<input asp-for="Month" class="form-control" />
								<span asp-validation-for="Month" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Year"></label>
								<input asp-for="Year" class="form-control" />
								<span asp-validation-for="Year" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Amount"></label>
								<input asp-for="Amount" class="form-control" />
								<span asp-validation-for="Amount" class="text-danger"></span>
							</div>


							<div class="form-group">
								<button type="submit" class="btn btn-primary">Kaydet</button>
							</div>
						</div>
					</div>
				</form>

				<!-- /.card-body -->

			</div>
			<!-- /.card -->
		</div>
		<!-- /.row -->
	</div><!-- /.container-fluid -->
</section>
<!-- /.content -->