
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Denied</title>
</head>
<body>
    <span class="alert alert-danger">Erişmeye çalıştığınız sayfaya giriş yetkiniz bulunmamaktadır</span>
</body>
</html>
